.vwvh {
    margin: 10px auto;
    width: 30vw;
    height: 40vh;
    background-color: #0000ff80;
}
.vminvmax {
    margin: auto;
    width: 40vmin;
    height: 20vmax;
    background-color: #ff000080;
}
