* {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    box-shadow: 0 0 5px gray;
    width: 700px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}

/*color*/
.color {
    color: #703f3f;
}

/*background*/
.background {
    background-color: #f0f8ff;
}

/*text decoration*/
.tdoverline {
    text-decoration: overline;
}
.tdlinethrought {
    text-decoration: line-through;
}
.tdunderline {
    text-decoration: underline;
}
.tdou {
    text-decoration: overline underline;
}
.tdcolor {
    text-decoration: underline red;
}
.tdstyle {
    text-decoration: underline wavy;
}
.tdthickness {
    text-decoration: underline 5px;
}


/*text transform*/
.ttupercase {
    text-transform: uppercase;
}
.ttlowercase{
    text-transform: lowercase;
}
.capitalizecase{
    text-transform: capitalize;
}

/*alinhamento de texto*/
.ata {
    text-align: left;
}
.atal {
    text-align-last: right;
}
.ava {
    vertical-align: baseline;
}
.ad {
    direction: rtl;
}

/*espaçamento de texto*/
.eti {
    text-indent: 50%;
}
.els {
    letter-spacing: 5px;
}
.elh {
    line-height: 10px;
}
.ewrds {
    word-spacing: 10px;
}
.ews {
    white-space:nowrap;
}

/*sombra de texto*/
.ss {
    text-shadow: 2px 2px gray;
}
.sb {
    text-shadow: 2px 2px 2px gray;
}
.srbn {
    text-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
}
.sgrb {
    text-shadow: 0px 0px 4px #00ff00, 0 0 7px #ff0000, 0 0 15px #0000ff;
}